<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (C) 2022-2023 Martin Scheiber and Alessandro Fortnasier,
  Control of Networked Systems, University of Klagenfurt, Austria.

  All rights reserved.

  This software is licensed under the terms of the BSD-2-Clause-License with
  no commercial use allowed, the full terms of which are made available
  in the LICENSE file. No license in patents is granted.

  You can contact the author at <martin.scheiber@ieee.org> and
  <alessandro.fornasier@ieee.org>.
-->
<launch>
  <!-- rostopic strings -->
  <arg name="imu_topic"       default="/imu" />   <!-- Mandatory -->
  <arg name="lrf_topic"       default="/lrf" />   <!-- LRF is used as primary sensor, if toic is undefined it will fallback to baro -->
  <arg name="baro_topic"      default="/baro" />  <!-- BARO used if LRF is not defined -->
  <arg name="default_sensor"  default="lrf" />

  <!-- calibration parameters -->
  <arg name="R_IP"      default="[1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0]" />
  <arg name="R_PL"      default="[1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0]" />
  <arg name="t_PL"      default="[0.0, 0.0, 0.0]" />

  <!-- observation parameters -->
  <arg name="sensor_readings_window"  default="1.0" />
  <arg name="angle_threshold"         default="10.0" />
  <arg name="distance_threshold"      default="0.15" />
  <arg name="takeoff_theshold"        default="0.5" />
  <arg name="use_median"              default="false" />
  <arg name="playback"                default="false" />
  <arg name="require_srv_call"        default="true" />


  <node name="toland_detector" pkg="to_landing_detector" type="toland_node" output="screen" respawn="true" clear_params="true">
    <!-- rostopic strings -->
    <param name="imu_topic"               type="string" value="$(arg imu_topic)" />
    <param name="lrf_topic"               type="string" value="$(arg lrf_topic)" />
    <param name="baro_topic"              type="string" value="$(arg baro_topic)" />
    <param name="default_sensor"          type="string" value="$(arg default_sensor)" />

    <!-- observation parameters -->
    <param name="sensor_readings_window"  type="double" value="$(arg sensor_readings_window)" />
    <param name="angle_threshold"         type="double" value="$(arg angle_threshold)" />
    <param name="distance_threshold"      type="double" value="$(arg distance_threshold)" />
    <param name="takeoff_theshold"        type="double" value="$(arg takeoff_theshold)" />
    <param name="use_median"              type="bool"   value="$(arg use_median)" />
    <param name="playback"                type="bool"   value="$(arg playback)" />
    <param name="require_srv_call"        type="bool"   value="$(arg require_srv_call)" />

    <!-- calibration parameters -->
    <rosparam param="R_PI" subst_value="true">$(arg R_IP)</rosparam>
    <rosparam param="R_PL" subst_value="true">$(arg R_PL)</rosparam>
    <rosparam param="t_PL" subst_value="true">$(arg t_PL)</rosparam>
  </node>
</launch>
